html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.top-nav {
  background-color: #1c7ed6;
  text-align: center;
}
.top-nav a {
  display: inline-block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
}
.test {
  height: 1000px;
  background-color: #e7f5ff;
}
