@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Tajawal', sans-serif;
}

body {
    background-color: #023e8a;
}

.top-nav {
    background-color: transparent;
    text-align: center;
}

.top-nav a {
    display: inline-block;
    color: #fff;
    padding: 34px 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 800;
}

.top-nav a:hover,
.top-nav a:focus {
    color: #90e0ef;
}

@media (max-width: 767px) {
    .top-nav a {
        color: #fff;
        padding: 14px 16px;
        font-size: 1.2rem;
    }
}
