@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Tajawal', sans-serif;
}

body {
    background-color: #041C32;
}

.nav-desktop {
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    position: fixed;
    top: 0;
    z-index: 99;

    /* position: sticky;
    top: 0; */
}

.nav-wrapper {
    width: 90%;
    margin: 0 auto;
}

.nav-logo {
    display: block;
    height: 100%;
    max-width: 90px;
    margin: 0 auto;
    padding: 10px 0;
}

.nav-logo img {
    max-width: 90%;
    transition: 0.3s;
}

.nav-links {
    text-align: center;
    border-top: 2px solid #fefefe;
    padding: 12px 0;
}

.nav-links a {
    font-size: 2rem;
    font-weight: 800;
    text-decoration: none;
    padding: 0 10px;
    text-transform: uppercase;
    color: #fff;

    transition: 0.3s;
}

.nav-links a:hover {
    text-decoration: none;
    color: #ECB365;
    transition: all 0.3s ease-in;
}

@media (max-width: 767px) {
    .nav-links a {
        color: #fff;
        padding: 14px 16px;
        font-size: 1.2rem;
    }
}
