.container-1,
.container-2,
.container-3 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
    padding: 30px 0;
    border-bottom: 5px solid #90e0ef;
    background-color: #023e8a;
    color: #fff;
}

.section-img {
    flex: 50%;
    width: 50%;
    margin: auto;
}

.section-text {
    flex: 50%;
    font-size: 2rem;
    padding: 5% 5%;
}

.mobile {
    display: none;
}

.section-text h1 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: 800;
}

.section-text .text-l {
    text-align: left;
}

.section-text .text-r {
    text-align: right;
}

.section-img img {
    display: block;
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: auto;
    border-radius: 20px;
    /*border: 5px solid lightgray;*/
    box-shadow: 10px 5px 5px lightgray;
}

@media (max-width: 991px) {
    .section-img {
        flex: 100%;
        margin: 5% auto;
    }

    .section-text {
        flex: 100%;
        font-size: 1.7rem;
    }
    .section-text .text-l,
    .section-text .text-r {
        text-align: center;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
}

@media (max-width: 767px) {
    .container-1,
    .container-2,
    .container-3 {
        margin: 0;
        padding: 0;
        border-bottom: 0 solid lightgray;
    }

    .section-img {
        margin: 0;
    }

    .section-img img {
        border-radius: 0;
        box-shadow: none;
    }
}